/* Podcast.module.css */
.container {
    padding: 5px 10px;
  }
  
  .podcastList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
  }
  