.sliding-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/2090877/pexels-photo-2090877.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
}

.form-wrapper {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  position: absolute;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-enter {
  opacity: 0;
  transform: translateX(100%);
}

.form-exit {
  opacity: 1;
  transform: translateX(0%);
}

.form-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.form-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
