.searchBox {
    height          : 30px;
    border-radius   : 30px;
    padding         : 12px;
    background-color: var(--button_color);
    margin          : 20px 12px;
    margin-left     : 20px;
}

.searchBox:hover>.searchText,
.searchBox .searchText:focus {
    width  : 200px;
    padding: 0 8px;
    color  : #fffffe;
}

.searchBox:hover>.searchBtn {
    color: #fffffe;
}

.searchBtn {
    float           : right;
    width           : 30px;
    height          : 30px;
    border-radius   : 50%;
    display         : flex;
    color           : #fffffe;
    background-color: var(--button_color);
    justify-content : center;
    align-items     : center;
    cursor          : pointer;
    border          : var(--button_color);
}

.searchText {
    border     : none;
    background : none;
    outline    : none;
    float      : left;
    padding    : 0;
    font-size  : 16px;
    transition : 0.5s;
    line-height: 30px;
    width      : 0px;
}

.searchText::placeholder {
    color: #fffffe;
}