.searchBox {
  height          : 30px;
  border-radius   : 30px;
  padding         : 12px;
  background-color: var(--button_color);
  margin          : 20px 12px;
  margin-left     : 20px;
  position:relative;
}

.searchBox:hover>.searchText,
.searchBox .searchText:focus {
  width  : 200px;
  padding: 0 8px;
  color  : var(--body_color);
}

.searchBox:hover>.searchBtn {
  /* background-color:#070700; */
  color: #f7f7f7;
}

.searchBtn {
  float           : right;
  width           : 30px;
  height          : 30px;
  border-radius   : 50%;
  display         : flex;
  color           : #fffffe;
  background-color: var(--button_color);
  justify-content : center;
  align-items     : center;
  cursor          : pointer;
  border          : var(--button_color);
}

.searchText {
  border     : none;
  background : none;
  outline    : none;
  float      : left;
  padding    : 0;
  font-size  : 16px;
  transition : 0.5s;
  line-height: 30px;
  width      : 0px;
}

.searchText::placeholder {
  color: #fffffe;
}

.searchText::placeholder {
  color: #fffffe;
}

.searchResults {
  position: absolute;
  background-color: #776f6f;
  border-radius   : 4px;
  padding         : 10px;
  margin-left     : 20px;
}

.searchResultItem {
  display      : flex;
  align-items  : center;
  margin-bottom: 5px;
}

.resultImage {
  width        : 50px;
  height       : 50px;
  object-fit   : cover;
  border-radius: 50%;
  margin-right : 10px;
}

.searchResultItem span {
  font-size: 14px;
  color    : #333;
}