.searchBox {
    height: 30px;
    border-radius: 30px;
    padding: 12px;
    background-color: #7f5af0;
    margin: 20px 12px;
    margin-left: 20px;
  }
  
  .searchBox .searchText {
    width: 200px;
    padding: 0 8px;
    color: #fffffe;
  }
  
  .searchBtn {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    color: #fffffe;
    background-color: #7f5af0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: #7f5af0;
  }
  
  .searchText {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.5s;
    line-height: 30px;
    width: 200px;
  }
  
  .searchText::placeholder {
    color: #fffffe;
  }
  
  .searchResults {
    background-color: #776f6f;
    border-radius: 4px;
    padding: 10px;
    margin-left: 20px;
  }
  
  .searchResultItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .resultImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .searchResultItem span {
    font-size: 14px;
    color: #333;
  }
  